<%- include('header') -%>

<h1>Viðburðarsíðan</h1>

<h2>Viðburðir á næstunni</h2>

<% if (events.length == 0) { %>
  <p>Engir viðburðir</p>
<% } else { %>
  <ul>
    <% events.forEach((event) => { %>
    <li><%= event.name %></li>
    <%= event.description %>
    <% }) %>
  </ul>
<% } %>

<p><a href="/login">Innskráning stjórnanda</a> </p>

<%- include('footer') -%>
